<footer class="footerly">
    <div class="container container-footerly">
        <div class="container-logo">
            <a class="headerly-logo link" href="./index.html">Web<span class="footerly-logo">Studio</span></a>
            <p class="footerly-text text">Increase the flow of customers and sales for your business with digital
                marketing
                &
                growthsolutions.</p>
        </div>
        <div class="footerly-icon">
            <p class="footerly-title title">Social media</p>
            <ul class="footerly-list-icon list">
                <li class="footerly-item-icon"> <a class="footerly-soc-link link" href=""><svg width="20" height="20"
                            class="footerly-soc-icon">
                            <use href="./images/icons.svg#icon-instagram"></use>
                        </svg> </a>
                </li>
                <li class="footerly-item-icon"> <a class="footerly-soc-link link" href=""><svg width="20" height="20"
                            class="footerly-soc-icon">
                            <use href="./images/icons.svg#icon-twitter"></use>
                        </svg> </a>
                </li>
                <li class="footerly-item-icon"> <a class="footerly-soc-link link" href=""><svg width="20" height="20"
                            class="footerly-soc-icon">
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg> </a>
                </li>
                <li class="footerly-item-icon"> <a class="footerly-soc-link link" href=""><svg width="20" height="20"
                            class="footerly-soc-icon">
                            <use href="./images/icons.svg#icon-linkedin"></use>
                        </svg> </a>
                </li>
            </ul>
        </div>
        <div class="footerly-subscribe">
            <p class="footerly-form-title title">Subscribe</p>
            <form class="footerly-form">
                <div class="footerly-form-field">
                    <label class="visually-hidden" for="mail">E-mail</label>
                    <input class="footerly-form-input" type="email" name="mail" id="mail" placeholder="E-mail">
                </div>
                <button type="submit" class="footerly-form-btn">Subscribe <svg width="24" height="24"
                        class="footerly-form-icon">
                        <use href="./images/icons.svg#icon-frame"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>

</footer>